/* Page style */
body {
    background: linear-gradient(to bottom right, black, rgb(70, 70, 70));
}
.logo {
    height: 30%;
    width: 30%;
    min-width: 200px;
}
#title {
    font-size: 3vw;
    max-width: 900px;
    min-width: 300px;
    font-family: sans-serif;
    color: rgb(90, 90, 90);
}
@media screen and (max-width: 1000px) {
    #title {
        font-size: 30px;
    }
}
button {
    cursor: pointer;
}
.styled_button {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    padding: 8px 16px;
    font-size: 17px;
}
.styled_button:active {
    background-color: rgb(66, 66, 66);
    transform: translateY(2px);
}
.styled_button:hover {
    background-color: #777;
}
textarea {
    background: white;
}
hr {
    visibility: hidden;
}


/* Tab links style */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
.tablink:hover {
    background-color: #777;
}
.tabcontent {
    display: none;
    float: left;
}


/* Table style */
h3 {
    color: white;
}
select {
    cursor: pointer;
}
table {
    width: 100%;
    font-family: sans-serif;
}
#infoTable td{
    width: 12%;
}
#timeZoneSelect {
    width: 79%;
}
.caption {
    color: white;
}
#lineNum {
    text-align: center;
    padding-right: 30px;
    color: white;
}
.removeLineButton {
    background: url(./media/RemoveIcon.png);
    background-repeat: no-repeat;
    background-size: 28px;
    border: none;
    height: 30px;
    width: 30px;
    margin-left: 30%;
    margin-right: 30%;  
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: table-cell;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #777;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: 200px;
    bottom: 100%;
    left: 20%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 1s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #777 transparent transparent transparent;
}


/* Accounts style */
#accountSection {
    color: rgb(136, 135, 135);
}
#accounts {
    display: none;
}
.hint {
    color: rgb(207, 207, 207);
    font-size: 18px;
    padding-top: 15px;
}


/* LineKeys style */
#keySection {
    color: rgb(253, 63, 30);
}
#lineSelect {
    width: 50%;
}
#keyType {
    color: white;
}


/* Bulk tab style */
#bulkTable td {
    width: 12%;
}
#background_Btn {
    width: 75%;
    height: 50%;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}
#addDeviceBtn {
    margin-top: 25px;
}
